@import "sources/shared/assets/styles/theme";

.hidden {
  display: none !important;
}

// -------------- BUTTONS --------------

.btn-primary, .btn-secondary, .btn-accent {
    border: none;
    border-radius: 12px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    padding: 12px 24px;
    background-position: center;
    width: 166px;
    transition: background 0.8s, transform 0.2s;

    &.disabled, &[disabled] {
        opacity: 0.5;
    }

    &:hover {
        transform: scale(1.05);
    }
}

.large-button {
    width: 230px;
}

.btn-primary {
  @include theme() {
    background-color: themed(primary);
    color: themed(bg-color);
    border: solid 2px transparent;

    &:hover {
      background: themed(primary) radial-gradient(circle, transparent 1%, themed(primary) 1%) center/15000%;
    }

    &:active {
      background-color: unquote(themed(primary) + '50');
      background-size: 100%;
      transition: background 0s;
    }
  }
}

.btn-accent {
  @include theme() {
    background-color: themed(accent);
    color: themed(bg-color);
    border: solid 2px transparent;

    &:hover {
      background: themed(accent) radial-gradient(circle, transparent 1%, themed(accent) 1%) center/15000%;
    }

    &:active {
      background-color: unquote(themed(accent) + '50');
      background-size: 100%;
      transition: background 0s;
    }
  }
}

.btn-secondary {
  @include theme() {
    background-color: themed(bg-color);
    color: themed(primary);
    border: solid 2px themed(primary);

    &:hover {
      background: themed(bg-color) radial-gradient(circle, transparent 1%, themed(bg-color) 1%) center/15000%;
    }

    &:active {
      background-color: unquote(themed(primary) + '50');
      background-size: 100%;
      transition: background 0s;
    }
  }
}

.btn-pulsed {
    animation: pulse 1s infinite;
}

// -------------- ANIMATIONS --------------

@keyframes pulse {
    0% {
        border-color: themed(primary);
    }
    50% {
        border-color: unquote(themed(primary) + '95');
    }
    100% {
        border-color: themed(primary);
    }
}

// -------------- LAYOUT --------------

// generate helper classes for margins and paddings
$px: (0,5,10,15,20,25,30,35,40);
@each $i in $px {
  .m-#{$i} {
    margin: $i+px;
  }
  .mt-#{$i} {
    margin-top: $i+px;
  }
  .mb-#{$i} {
    margin-bottom: $i+px;
  }
  .ml-#{$i} {
    margin-left: $i+px;
  }
  .mr-#{$i} {
    margin-right: $i+px;
  }
  .p-#{$i} {
    padding: $i+px;
  }
  .pt-#{$i} {
    padding-top: $i+px;
  }
  .pb-#{$i} {
    padding-bottom: $i+px;
  }
  .pl-#{$i} {
    padding-left: $i+px;
  }
  .pr-#{$i} {
    padding-right: $i+px;
  }
}

