// 1rem = 16px

/*
  60 px on figma
*/
.text1 {
  font-size: clamp(1.89rem, 1.7192rem + 0.759vw, 2.63rem);
}

/*
  40 px on figma
*/
.text2 {
  font-size: clamp(1.26rem, 1.1469rem + 0.5026vw, 1.75rem);
}

/*
  36 px on figma
*/
.text3 {
  font-size: clamp(1.13rem, 1.0262rem + 0.4615vw, 1.58rem);
}

/*
  24 px on figma
*/
.text4 {
  font-size: clamp(0.74rem, 0.6685rem + 0.3179vw, 1.05rem);
}

/*
  20 px on figma
*/
.text5 {
  font-size: clamp(0.63rem, 0.57rem + 0.2667vw, 0.89rem);
}

/*
  18 px on figma
*/
.text6 {
  font-size: clamp(0.56rem, 0.5069rem + 0.2359vw, 0.79rem);
}

/*
  14 px on figma
*/
.text7 {
  font-size: clamp(0.44rem, 0.4008rem + 0.1744vw, 0.61rem);
}