@import "sources/shared/assets/styles/theme";

@font-face {
    font-family: "Inter";
    src: url("./shared/assets/fonts/Inter/Inter-Regular.ttf");
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Inter";
    font-size: 16px;
    -webkit-tap-highlight-color: transparent;
}

html, body {
    @include theme() {
        min-height: 100vh;
        width: 100vw;
        margin: 0;
        padding: 0;
        background-blend-mode: hard-light;

        color: themed(text-color);
        background: themed(dark-white) url("./shared/assets/images/background.jpg") no-repeat;
        background-size: cover;

        main {
            padding: 20px 20px 50px; // padding-bottom must equal to footer height
        }

        footer {
            position: fixed;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 50px;
            background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 10px;

            .loodus-icon {
                width: 150px;
                margin: 10px;
            }

            #toggle-home-mode {
                background: themed(bg-color);
                border: none;
                border-radius: 50%;
                width: 40px;
                height: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;

                span {
                    rotate: 90deg;
                    font-weight: bolder;
                    color: themed(text-color);
                }
            }
        }
    }
}

@import "./shared/assets/styles/display.scss";
