@import "sources/shared/assets/styles/theme";

@font-face {
    font-family: "Inter";
    src: url("./shared/assets/fonts/Inter/Inter-Regular.ttf");
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Inter";
    font-size: 16px;
}

html, body {
    @include theme() {
        min-height: 100vh;
        width: 100vw;
        margin: 0;
        padding: 0;
        background-blend-mode: hard-light;

        color: themed(text-color);
        background: themed(dark-white) url("./shared/assets/images/background.jpg") no-repeat;
        background-size: cover;
    }
}
