@import "sources/shared/assets/styles/theme";

#lock-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;

    @include theme() {
        .avatar {
            width: 150px;
            border-radius: calc(150px / 2);
            background: unquote(themed(dark-white) + '80');
        }

        #unlock-by-password {
            margin: 20px 0;
            display: flex;
            flex-direction: row;
            align-items: center;

            #unlock-password-input {
                padding: 4px 8px;
                border: none;
                border-radius: 8px;
                background: unquote(permanent(dark-white) + '90');
                color: permanent(bg-color);
            }
            button {
                border: solid 1px permanent(bg-color);
                border-radius: 8px;
                background: transparent;
                color: permanent(bg-color);
                cursor: pointer;
                margin-left: 10px;

                i {
                    vertical-align: middle;
                    font-size: 32px;
                }
            }
        }
        #pattern-canvas {
            margin-top: 40px;
        }
        #error-code-message, #error-lock-db-message {
            color: permanent(bg-color);
        }
    }
}