@import "sources/shared/assets/styles/theme";
@import "sources/shared/assets/styles/size";

#parameters {
  @include theme() {
    .modal-content {
      display: flex;
      flex-direction: row;
    }
    .menu {
      width: 30%;
    }
    .menu-button {
      border: none;
      background: themed('dark-white');
      color: black;
      width: 100%;
      height: 32px;
      margin-bottom: 10px;
    }

    .menu-button:last-child {
      margin-bottom: 0;
    }

    .menu-button:hover {
      background: themed('light-grey');
      cursor: pointer;
    }

    .menu-button.active {
      background: themed('primary');
      color: permanent('bg-color');
    }

    .content {
      width: 70%;
      padding: 0 0 0 30px;
    }

    .param-label {
      margin-right: 20px;
    }

    .param {
      margin-bottom: 10px;
    }

    .is-open {
      display: block;
    }

    #pattern-canvas {
      background: themed('dark-white') !important;
    }
  }
}
